.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
build_cookbook
.delivery/config.json

# IDE
.idea

Vagrantfile

.chef/
.chef/knife.rb
removeTags.sh

coverage/